{% extends 'base.html' %}

{% block title %}Formulário de Filme{% endblock %}

{% block content %}
<div class="card">
    <h2>Cadastro de Filme</h2>
    <p>Preencha os campos abaixo para adicionar ou editar um filme.</p>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}

        <div class="acoes-topo">
            <button class="btn btn-primary" type="submit">Salvar Filme</button>
            <a class="btn btn-secondary" href="{% url 'lista_filmes' %}">Voltar</a>
        </div>
    </form>
</div>
{% endblock %}